---
- name: Check WinRM
  hosts: windows_servers
  gather_facts: false
  ignore_unreachable: true

  tasks:
    - name: Test WinRM
      win_ping:

    - name: Add reachable host to online group
      group_by:
        key: online
